%footer.border-top
  .text-center
    %a{href: "https://www.facebook.com/diamanteazuljoyeria?fref=ts"}
      %i.icofont-facebook
    %a{href: "https://twitter.com/search?q=jdiamanteazul&src=typd&lang=es"}
      %i.icofont-twitter
    %a{href: "https://www.instagram.com/joyeriadiamanteazul/"}
      %i.icofont-instagram
    %p.copyright-text.text-center.margin-top-30.no-margin-bottom{style: "margin-right: auto; margin-left: auto; margin-bottom:0; border-radius: 10px; width: 250px; margin-top: 0px; background: rgba(255, 255, 255, 0.5);"}
      ©2019 Joyería Diamante Azul. Derechos reservados