%nav.navbar.navbar-top.navbar-expand-lg
  %a.navbar-brand.mx-auto{href: "/"}
    %img{ src: '/assets/app/diamanteazul/logo/logo-default.png' }
%nav.navbar.navbar-expand-lg
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mx-auto
      %li.nav-item
        %a.nav-link{href: "/"} Inicio
      %li.nav-item
        %a.nav-link{href: "/catalogue"} Catálogo
      %li.nav-item
        %a.nav-link{href: "/about"} Diseño de Joyas
      %li.nav-item
        %a.nav-link{href: "/contact"} Contacto