%aside.sidebar-category
  %ul.nav.nav-pills.flex-column
    - @categories.each do |category|
      %li.nav-item
        = link_to category.children? ? app_category_path(category) : app_products_path, class: 'nav-link btn btn-custom' do
          = category.name