%nav.navbar.navbar-expand-lg.border-bottom
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{href: "/"} Inicio
      %li.nav-item
        %a.nav-link{href: "/catalogue.html"} Catálogo
    %a.navbar-brand{href: "/"}
      %img{ width: 200, src: '/assets/img/logo/logo-default.png' }
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{href: "#"} Somos fabricantes
      %li.nav-item
        %a.nav-link{href: "#"} Contacto