a {
  &:hover {
    text-decoration: none;
  }
}

h1 {
  color: $primary;
  font-family: $lato;
  font-weight: $bold;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 50px;
}

p, small, span {
  font-family: $raleway;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}


.category-container, .catalogue-container, .product-container {
  padding: 50px 0;
}

.category-header {
  display: flex;
  justify-content: space-between;
  @include respond-to(xs) {
    padding: 0 10px;
    flex-direction: column;
    margin-bottom: 50px;
    
    h1 {
      margin-bottom: 10px;
    }
  }
}

.category-box {
  display: flex;
}

.banner-category {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

.category-items {
  // width: 70%;
  @include respond-to(xs) {
    width: 100%;
    padding: 0 10px;
  }
  @include respond-to(sm) {
    width: 100%;
    padding: 0 10px;
  }

  .card-subcategory {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid $secondary;
    text-align: center;

    img {
      width: 100%;
      vertical-align: middle;
    }

    .badge {
      position: absolute;
      top: 12px;
      right: 25px;
      padding: 7px;
      font-size: 13px;
    }

    .card-subcategory-title {
      color: $primary;
      text-transform: uppercase;
      font-family: $lato;
      font-weight: $bold;
      font-size: 18px;
      margin-top: 10px;
    }

    p {
      color: #8c8c8c;
    }
  }
}

.catalogue-items {
  padding: 30px 0;
}

.card-catalogue {
  margin-bottom: 20px;
  // padding: 10px;
  border-radius: 7px;
  // border: 1px solid $secondary;
  text-align: center;
  height: 350px;
  box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);

  .card-catalogue-img {
    height: 70%;
  }

  img {
    width: 100%;
    vertical-align: middle;
    height: 100%;
    object-fit: cover;
  }

  .card-catalogue-content {
    height: 30%;
    padding: 20px;
  }

  .card-catalogue-title {
    color: $primary;
    text-transform: uppercase;
    font-family: $lato;
    font-weight: $bold;
    font-size: 20px;
    margin-top: 10px;
    position: relative;

    &::before {
      @include pseudo();
      bottom: -10px;
      left: 50%;
      background-color: $primary;
      width: 10%;
      height: 3px;
      transform: translateX(-50%);
    }
  }
}

.btn-custom {
  background-color: $primary;
  border-radius: 10px;
  color: $white;
  font-family: $raleway;
  margin-bottom: 10px;

  &:hover {
    color: $white;
  }
}

.breadcrumb {
  background-color: $white;

  li a{
    font-family: $raleway;
    color: $primary;
  }
  
  li {
    font-family: $raleway;
    color: #8c8c8c;
  }
}

.product-box {
  display: flex;
  @include respond-to(xs) {
    flex-direction: column;
  }
}

.product-images {
  width: 50%;

  @include respond-to(xs) {
    width: 90%;
    margin: 0 auto;
  }

  .product-images-for {
    margin-bottom: 30px;
    img {
      height: 400px;
      object-fit: cover;

      &:focus {
        outline: none;
      }
    }
  }

  .product-images-nav {
    img {
      height: 150px;
      object-fit: cover;
      margin: 0 10px;
      &:focus {
        outline: none;
      }
    }
  }
}

.slick-dots {
  bottom: -50px;
}

.slick-dots li button:before {
  background-color: $primary;
  @include size(15px, 5px);
  content: '';
}

.slick-dots li.slick-active button:before {
  color: $primary;
}

.product-description {
  width: 50%;
  margin-left: 20px;
  padding: 0 30px;

  @include respond-to(xs) {
    width: 100%;
    padding: 10px 20px;
    margin-left: 0;
  }

  @include respond-to(sm) {
    padding: 0 10px;
  }

  @include respond-to(md) {
    padding: 0 10px;
  }

  h3 {
    color: #636363;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: $medium;
    font-family: $raleway;
  }
  h4 {
    font-size: 18px;
    color: $primary;
    font-family: $raleway;
  }
}

footer {
  font-family: $raleway;
  padding-top: 20px;
  font-size: 16px;

  a {
    color: #636363;
    &:hover {
      color: $primary;
    }
  }
}
.fullwidth-shop-slider {
  font-family: $raleway;
}

.fullwidth-shop-slider .slide-overlay {
  background-color: rgba(255, 255, 255, 0.65);
}

.fullwidth-shop-slider .tp-caption .heading {
  border-bottom: 3px solid $primary;
  font-family: $lato;
  font-weight: $bold;
  color: $primary;
}

.about {
  padding: 50px 0;

  p {
    font-family: $raleway;
  }
}

.contact {
  font-family: $raleway;
  padding: 50px 0;

  .widget-title {
    color: $primary;
    font-family: $lato;
  }

  i {
    color: $primary;
  }
}

.form-control {
  font-family: $raleway;

  &::placeholder {
    font-family: $raleway;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $primary;
  }
}

.formBox{
  margin-top: 50px;
}

.inputBox{
  position: relative;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.inputBox .input{
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #8c8c8c;
  font-family: $raleway;

  &:focus {
    border-bottom: 1px solid $primary;
  }

  &::placeholder {
    font-family: $raleway;
  }
}

textarea{
  height: 100px;
  resize: none;
}

.g-recaptcha {
  transform: scale(.8);
  transform-origin: left;
  @include respond-to(xs) {
    transform: scale(1);
    transform-origin: center;
    & > div {
      margin: 0 auto;
    }
  }
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  @include respond-to(xs) {
    justify-content: center;
  }
}

.tparrows:before {
  font-family: "IcoFont";
}

.tparrows.tp-rightarrow:before {
  content: "\eaa0";
}

.tparrows.tp-leftarrow:before {
  content: "\ea9d";
}

.float-button{
  z-index: 20;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
  background-color: #54cc61;
  border-radius: 50%;
  box-shadow: 2px 1px 10px 0px #5d5858;
  display: flex;
  justify-content: center;
  align-items: center;
}

.float-button i{
  color: $white;
  font-size: 30px;
}

.formBox-contact {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    font-size: 25px;
    color: $primary;
    font-family: $raleway;
  }
}