= Haml::Engine.new(File.read("app/partials/_head.haml")).render()
= Haml::Engine.new(File.read("app/partials/_navbar.haml")).render()

%body
  %section#slider-shop-fullwidth.rev_slider.fullwidth-shop-slider.no-padding{style: "max-width: 1080px; margin-left: auto; margin-right: auto"}
    %ul
      %li{"data-transition" => "slotfade-horizontal"}
        %img{alt: "Slide", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", src: "assets/img/shop/hero-unit/slide1.jpg"}
        .tp-caption.tp-resizeme{"data-hoffset" => "15", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:2000;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "-120", "data-x" => "left", "data-y" => "center"}
          %h2#titulo1.heading BODAS DE ENSUEÑO
        .tp-caption{"data-hoffset" => "0", "data-start" => "1200", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:2000;", "data-transform_out" => "o:0;y:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "-20", "data-x" => "250", "data-y" => "center"}
          %p{style: "font-size: 2.8rem"}
            Bs.
            %strong{style: "font-size: 3rem"} 120.000
            sólo por este mes
        .tp-caption.tp-resizeme{"data-hoffset" => "0", "data-start" => "2000", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:1500;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "50", "data-x" => "430", "data-y" => "center"}
          %a.btn.btn-primary.btn-lg{href: "#"}
            COMPRA AHORA
            %i.icofont-rounded-right{"aria-hidden" => "true"}
      %li{"data-transition" => "slotfade-horizontal"}
        %img{alt: "Slide", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", src: "assets/img/shop/hero-unit/slide2.jpg"}/
        .tp-caption.tp-resizeme.tp-shape.tp-shapewrapper.slide-overlay{"data-basealign" => "slide", "data-height" => "400", "data-start" => "500", "data-transform_idle" => "o:1", "data-transform_in" => "o:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-width" => "600", "data-x" => "center", "data-y" => "center"}
        .tp-caption.tp-resizeme{"data-hoffset" => "0", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:1500;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "-75", "data-x" => "center", "data-y" => "center"}
          %h2#titulo2.heading ¡ FELICITACIONES !
        .tp-caption.tp-resizeme{"data-hoffset" => "0", "data-start" => "1500", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:1500;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "0", "data-x" => "center", "data-y" => "center"}
          %p.lead Consulta nuestras ofertas especiales por tiempo limitado
        .tp-caption.tp-resizeme.rs-parallaxlevel-1{"data-hoffset" => "0", "data-start" => "2000", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:1500;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "65", "data-x" => "center", "data-y" => "center"}
          %a.btn.btn-primary.btn-lg{href: "catalogue.html"} MIRA NUESTRO CATÁLOGO
      %li{"data-transition" => "slotfade-horizontal"}
        %img{alt: "Slide", "data-bgfit" => "cover", "data-bgposition" => "center bottom", "data-bgrepeat" => "no-repeat", src: "assets/img/shop/hero-unit/slide3.jpg"}/
        .tp-caption.tp-resizeme{"data-hoffset" => "15", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:1500;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "-75", "data-x" => "right", "data-y" => "center"}
          %h2#titulo3.heading REGALOS PARA HOMBRES ESPECIALES
        .tp-caption.tp-resizeme{"data-hoffset" => "15", "data-start" => "1500", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:1500;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "0", "data-x" => "right", "data-y" => "center"}
          %p.lead Consulta nuestras ofertas especiales por tiempo limitado
        .tp-caption.tp-resizeme.rs-parallaxlevel-1{"data-hoffset" => "5", "data-start" => "2000", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:1500;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "65", "data-x" => "right", "data-y" => "center"}
          %a.btn.btn-primary.btn-lg{href: "catalogue.html"} MIRA NUESTRO CATÁLOGO


= Haml::Engine.new(File.read("app/partials/_footer.haml")).render()
= Haml::Engine.new(File.read("app/partials/_scripts.haml")).render()
