.navbar {
  background-color: $black;

  @include respond-to(xs) {
    position: relative;
  }

  .nav-link {
    text-transform: uppercase;
    font-family: $lato;
    font-weight: $bold;
    color: $silver;
  }

  img {
    margin-top: 15px;
    width: 250px;
  }
}

.navbar-top {
  height: 100px;
}

.sidebar-category {
  width: 30%;
  background-color: $secondary;
  padding: 20px;
  margin-right: 20px;

  @include respond-to(xs) {
    display: none;
  }

  @include respond-to(sm) {
    display: none;
  }
}

.nav-paginator {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-collapse {
  @include respond-to(xs) {
    z-index: 99;
    padding: 10px 20px;
    background-color: white;
    top: 100px;
    position: absolute;
    width: 100%;
    left: 0px;
  }
  @include respond-to(sm) {
    z-index: 99;
    padding: 10px 20px;
    background-color: white;
    top: 100px;
    position: absolute;
    width: 100%;
    left: 0px;
  }
  @include respond-to(md) {
    z-index: 99;
    padding: 10px 20px;
    background-color: white;
    top: 100px;
    position: absolute;
    width: 100%;
    left: 0px;
  }
}

.navbar-toggler {
  &:focus {
    outline: none;
  }

  span {
    color: $primary;
  }
}