.navbar {
  background-color: $black;

  @include respond-to(xs) {
    position: relative;
  }

  .nav-link {
    text-transform: uppercase;
    font-family: $lato;
    font-weight: $bold;
    color: $silver;
  }

  .navbar-brand {
    margin: 0 auto;
    @include respond-to(xs) {
      margin: 0;
    }
  }

  img {
    margin: 15px 0;
    width: 180px;
    @include respond-to(xs) {
      width: 120px;
    }
  }

  .nav-item {
    padding: 0 60px;
    @include respond-to(xs) {
      padding: 0 10px;
    }
  }
}

.navbar-top {
  height: 100px;
  @include respond-to(xs) {
    height: auto;
  }
}

.sidebar-category {
  width: 30%;
  background-color: $secondary;
  padding: 20px;
  margin-right: 20px;

  @include respond-to(xs) {
    display: none;
  }

  @include respond-to(sm) {
    display: none;
  }
}

.nav-paginator {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-collapse {
  @include respond-to(sm) {
    z-index: 99;
    padding: 10px 20px;
    background-color: white;
    top: 100px;
    position: absolute;
    width: 100%;
    left: 0px;
  }
  @include respond-to(md) {
    z-index: 99;
    padding: 10px 20px;
    background-color: white;
    top: 100px;
    position: absolute;
    width: 100%;
    left: 0px;
  }
}

.navbar-toggler {
  position: absolute;
  right: 20px;

  &:focus {
    outline: none;
  }

  span {
    color: $primary;
    font-size: 25px;
  }
}