%section.about
  .container
    .row
      .col-md-5.col-sm-12.diseno-img
        %img.w-100{alt: "Imagen fabricación de joyas", src: "assets/app/diamanteazul/diseño_joyas.jpeg", title: "Designed by:  Estefanía de Peñuela"}
        %a.btn.btn-custom{href:'#'} Conoce mis diseños
      .col-md-7.col-sm-12
        %center
          %img{alt: "Logotipo", src: "assets/app/diamanteazul/logo/logo_estefania_negro.png", width: "300px"}
        .text-justify{style:'text-indent: 25px;padding:20px;'}
          %p
          %p El fabuloso mundo de joyería no escapa a las tendencias de la moda, ahora más que nunca las joyas exigen  una creación más perfecta y original. El concepto que he desarrollado esta direccionado a elegir los métodos de fabricación y selección de materiales de óptima calidad, estos son los principios básicos de la joyería de autor una labor de gran minuciosidad y belleza que convierte a cada pieza en un sentimiento único y personal.
          %p Como artista del diseño he trabajado apasionadamente en el maravillo mundo de la joyería, donde el primer paso para crear mis diseños es escuchar a mis clientes seguido de la fase de asesoramiento donde tomo nota para crear el moldeado de la cera y hacernos una idea de lo que se desea. Para mi es fundamental no perder de vista la visión del cliente y mi papel está enfocado en aportar el valor necesario que hagan que la joya sea diseñada marcando un estilo propio e inimitable para convertirse en la joya de tus sueños.
          %p Cada joya que diseño es una historia única que representa para mí un gran compromiso donde intento expresar la personalidad mi cliente, manteniendo un criterio estético y creativo que defina su inspiración, buscando que mis diseños causen emociones. 
          %p El diseño esta supervisado minuciosamente en cada etapa además de ser el producto de un proceso creativo personal está avalado por mi autoría y respaldado por la autenticidad que caracteriza la joyería de autor.
