.wrapper
  .container.category-container
    .category-header
      %h1= @category.name
      = simple_form_for @category, url: app_category_path(@category), method: :get do
        .input-group
          %input.form-control{placeholder: "Buscar...", type: "text", name: 'q'}
          .input-group-append
            %button.btn.btn-primary{type: "submit"}
              %i.icofont-search
        %small Ejemplo: graduación, boda, dije, etc.
  .banner-category-box
    - if @category&.banner&.url&.present?
      %img.banner-category{ src: @category&.banner&.url }
  .container.category-container
    .category-box
      .category-items
        .row
          - @subcategories.each do |category|
            .col-lg-4.col-sm-6.col-xs-12
              .card-catalogue
                .card-catalogue-img
                  = link_to category.children? ? app_subcategory_path(category) : app_products_path(category) do
                    %img{ src: category.image.url }
                .card-catalogue-content
                  %h2.card-catalogue-title= category.name