%section.about
  .container
    .row
      .col-md-6.col-sm-12
        %center
          %img.center-block{alt: "Logotipo", src: "assets/app/diamanteazul/logo/logo-default.png", width: 400}
        %div{style: "text-align: justify;"}
          %p
            %b.color Diamante Azul ®
          %p Somos una empresa familiar fundada por Fernando Peñuela y Estefania de Peñuela en el año 2009, especializada en diseñar y fabricar anillos de graduación, compromiso, matrimonio y joyería de autor.  Contamos con profesionales que aplican sus conocimientos y dominios de las múltiples técnicas en la fabricación y diseño de joyas de oro y plata, con los más altos estándares de calidad y garantía de por vida. 
          %p Joyería Diamante Azul es Casa de Marcas con prestigio internacional garantizando todas las colecciones en tendencia de accesorios de joyería y relojería, con la orientación de nuestro equipo calificado de asesores en ventas.
          %p.mb-5 Nuestra tienda física está ubicada en Ciudad Comercial las Virtudes III Etapa Planta Baja, Punto Fijo Estado Falcón Venezuela.
          %img.w-100.center-block{alt: "Logotipo", src: "assets/app/diamanteazul/about.jpg"}
      .col-md-6.col-sm-12
        .formBox-contact
          = simple_form_for @message, url: app_send_message_path(), html: {id: 'message_form'}, method: :get do |f|
            .row
              .col-sm-12
                %h4 Contáctanos
            .row
              .col-md-12
                .inputBox
                  %input.input.required{placeholder: 'Nombre y Apellido', type: "text", name: 'message[name]'}
              .col-md-12
                .inputBox
                  %input.input.required{placeholder: 'Correo electrónico', type: "text", name: 'message[from_email]'}
            .row
              .col-md-12
                .inputBox
                  %input.input.required{placeholder: 'Asunto', type: "text", name: 'message[subject]'}
              .col-md-12
                .inputBox
                  %textarea.input{placeholder: 'Mensaje', name: 'message[content]'}
            .row
              .col-lg-6.col-xs-12
                = recaptcha_tags
              .col-lg-6.col-xs-12
                .form-footer
                  = f.submit 'Enviar', class: 'btn btn-custom'
- if flash[:notice].eql?("Mensaje enviado")
  :javascript
    Swal.fire({
      type: 'success',
      title: 'Cotización enviada con éxito'
    })
- elsif flash[:recaptcha_error].eql?("Oh! It's error with reCAPTCHA!")
  :javascript
    Swal.fire({
      type: 'error',
      title: '¡Lo siento!',
      text: 'Hubo un error en el reCAPTCHA, tu reservación no ha sido procesada.'
    })
- elsif flash[:notice].eql?("Mensaje no enviado")
  :javascript
    Swal.fire({
      type: 'error',
      title: '¡Los sentimos!, tu cotización no ha sido procesada. Vuelve a intentarlo.'
    })
:javascript
  $('#message_form').validate({
    event: 'blur',
    errorClass: 'error-class',
    validClass: 'valid-class',
     rules: {
       'message[name]': { required: true},
       'message[from_email]': { required: true, email: true},
       'message[subject]': {required: true}
      },
     messages: {
       'message[name]': 'Indica tu nombre',
       'message[from_email]': 'Indica tu correo',
       'message[subject]': 'Indica el asunto'
      },
    debug: true,errorElement: 'label',
    submitHandler: function(form){
      form.submit();
    }
  });