%section#slider-shop-fullwidth.rev_slider.fullwidth-shop-slider.no-padding{style: "max-width: 1080px; margin-left: auto; margin-right: auto"}
  %ul
    - @banners.each do |banner|
      %li{"data-transition" => "slotfade-horizontal"}
        %img{alt: "Slide", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", src: banner.image.url}
        .tp-caption.tp-resizeme.tp-shape.tp-shapewrapper.slide-overlay{"data-basealign" => "slide", "data-height" => "400", "data-start" => "500", "data-transform_idle" => "o:1", "data-transform_in" => "o:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-width" => "600", "data-x" => "center", "data-y" => "center"}
        / .tp-caption.tp-resizeme{"data-hoffset" => "0", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:1500;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "-75", "data-x" => "center", "data-y" => "center"}
        /   %h2#titulo2.heading= banner.title
        / .tp-caption.tp-resizeme{"data-hoffset" => "0", "data-start" => "1500", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:1500;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "0", "data-x" => "center", "data-y" => "center"}
        /   %p.lead= banner.subtitle
        - if banner.cta
          .tp-caption.tp-resizeme.rs-parallaxlevel-1{"data-hoffset" => "0", "data-start" => "2000", "data-transform_idle" => "o:1;", "data-transform_in" => "o:0;y:50;s:1500;", "data-transform_out" => "o:0;s:1500;e:Power3.easeInOut;", "data-voffset" => "65", "data-x" => "center", "data-y" => "center"}
            %a.btn.btn-primary.btn-lg{href: banner.link}
              = banner.cta_text
              %i.icofont-rounded-right{"aria-hidden" => "true"}